APP_ENV=development
PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/eo_karate?sslmode=disable
UPLOAD_DIR=uploads

# Xendit
# Sandbox key example format: xnd_development_***
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=
XENDIT_BASE_URL=https://api.xendit.co
XENDIT_INVOICE_DURATION_HOUR=24